$blue-primary: #385676;
$green-primary: #53ac34;
$green-top: #296654;
$green-bottom: #428f7d;
$blue-right: #385c7c;
$blue-light: #36788b;
$black: #0e0e0e;

.btn-gradient{
    background: rgba(83,172,52,1);
    background: -moz-linear-gradient(left, rgba(83,172,52,1) 0%, rgba(56,86,118,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(83,172,52,1)), color-stop(100%, rgba(56,86,118,1)));
    background: -webkit-linear-gradient(left, rgba(83,172,52,1) 0%, rgba(56,86,118,1) 100%);
    background: -o-linear-gradient(left, rgba(83,172,52,1) 0%, rgba(56,86,118,1) 100%);
    background: -ms-linear-gradient(left, rgba(83,172,52,1) 0%, rgba(56,86,118,1) 100%);
    background: linear-gradient(to right, rgba(83,172,52,1) 0%, rgba(56,86,118,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53ac34', endColorstr='#385676', GradientType=1 );
}